<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BarChooserServlet</servlet-name>
        <servlet-class>Servlets.BarChooserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarPublishSubscribeServlet</servlet-name>
        <servlet-class>Servlets.BarPublishSubscribeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarServlet</servlet-name>
        <servlet-class>Servlets.BarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlcoholMakerServlet</servlet-name>
        <servlet-class>Servlets.AlcoholMakerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarSubscriberServlet</servlet-name>
        <servlet-class>Servlets.BarSubscriberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BarChooserServlet</servlet-name>
        <url-pattern>/BarChooserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BarPublishSubscribeServlet</servlet-name>
        <url-pattern>/BarPublishSubscribeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BarServlet</servlet-name>
        <url-pattern>/BarServlet</url-pattern>
    </servlet-mapping>
    <!--
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    -->
    <servlet-mapping>
        <servlet-name>AlcoholMakerServlet</servlet-name>
        <url-pattern>/AlcoholMakerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BarSubscriberServlet</servlet-name>
        <url-pattern>/BarSubscriberServlet</url-pattern>
    </servlet-mapping>
</web-app>
